#jinja2: trim_blocks: True, lstrip_blocks: True
{% if item.value.certificate is mapping -%}
{%   if item.value.certificate.content is defined -%}
{{ item.value.certificate.content }}
{%   elif item.value.certificate.template is defined %}
{{ lookup('ansible.builtin.template', item.value.certificate.template) }}
{%   else %}
{{ lookup('ansible.builtin.file', item.value.certificate.file | mandatory('content, template or file must be specified')) }}
{%-   endif %}
{% else %}
{{ item.value.certificate }}
{%- endif %}
