#jinja2: trim_blocks: True, lstrip_blocks: True
{% if openresty_ssl_dhparam is mapping -%}
{%   if openresty_ssl_dhparam.content is defined -%}
{{ openresty_ssl_dhparam.content }}
{%   elif openresty_ssl_dhparam.template is defined %}
{{ lookup('ansible.builtin.template', openresty_ssl_dhparam.template) }}
{%   else %}
{{ lookup('ansible.builtin.file', openresty_ssl_dhparam.file | mandatory('content, template or file must be specified')) }}
{%-   endif %}
{% else %}
{{ openresty_ssl_dhparam }}
{%- endif %}
