#jinja2: trim_blocks: True, lstrip_blocks: True
{% if item.value.key is mapping -%}
{%   if item.value.key.content is defined -%}
{{ item.value.key.content }}
{%   elif item.value.key.template is defined %}
{{ lookup('ansible.builtin.template', item.value.key.template) }}
{%   else %}
{{ lookup('ansible.builtin.file', item.value.key.file | mandatory('content, template or file must be specified')) }}
{%-   endif %}
{% else %}
{{ item.value.key }}
{%- endif %}
